@media(max-width: 768px) {

  .header_links a {
    margin-right: 0px;
    margin: 0px 5px;
  }

  .header_links {
    margin-right: 10px;
  }

  nav span {
    display: none;
  }

  nav i {
    font-size: 28px;
  }

  .hero {
    
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 40px 15px;
    gap: 2px;
  }

  .hero_txt {
    margin: 0px 30px;
  }

  .hero_headshot img {
    margin-left: 0;
    width: 200px;
    height: 200px;
  }
  
}
